* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0;
	height: 100vh;
	background: linear-gradient(to right, #444, #222);
}

.wrapper {
	background: linear-gradient(to right, #444, #222);
	background-color: #333;
	height: 100vh;
	display: flex;
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
}

.main {
  height: 90vh;
  background: #2c3e50;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
}

.title-container {
  height: 90vh;
  background: #f16051;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.title-container-title {
	color: #fff;
	font-size: 50px;
	letter-spacing: 2px;
	line-height: 1.3;
}

.title-container-subtitle {
	font-style: italic;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 1.5;
}

.form-container {
  background-color: #2c3e50;
  height: 100%;
  padding-top: 100px;
  padding-left: 50px;
}

input[type="text"] {
	background-color: transparent;
	border: 0;
	border-bottom: solid 1px #fff;
	width: 30%;
	padding-bottom: 4px;
	color: #fff !important;
	font-weight: lighter;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-right: 20px;
	font-size: 20px;
	outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
    -webkit-text-fill-color: #fff !important;
}

::placeholder { /* Firefox, Chrome, Opera */ 
    color: #fff; 
    opacity: 0.5;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #fff;
    opacity: 0.5; 
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #fff;
    opacity: 0.5; 
} 

button {
	border: 0;
	padding: 8px 15px;
	margin: 0 2px;
	border-radius: 2px;
	font-weight: lighter;
	letter-spacing: 1px;
	font-size: 20px;
	cursor: pointer;
	background-color: #f16051;
	color: #fff;
	font-weight: 100;
}

button:active {
	outline: none;
}

.weather-info {
	width: 60%;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 2px;
}

.weather-key {
  color: #f16051;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather-key:last-child {
  border: 0;
}

.weather-value {
  color: #fff;
  font-weight: 200;
}

.weather-error {
  color: #f16051;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}